.series-list {
    list-style-type: none;
}

#movieList {
    background-color: rgba(0, 0, 0, 0.25);
    border: 0 solid ;
    border-radius: 1px;
}
#movieList > a {
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
#movieList > a:hover{
    color: #FCA311;
}

.movie-list-container {
    border: 5px solid white;
}