
#inMovie {
    background-color: rgba(249,243,231,255);
    border: 2px solid #FCA311;
    font-family: 'Pathway Extreme';
    font-weight: bold;
}

#inMovie:focus {
    box-shadow: 0 0 0 0.15rem #fab7004a !important;
}

