.container-shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.single-show {
    flex: 1 0 22%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkTitle {
    color: #FCA311;
    text-decoration: none;
}

.imgHome {
    border: 3px outset #FCA311;
    border-radius: 4px;
}

.network {
    color: #FFFFFF;
    font-weight: bolder;
}